h3 {
	margin-top: 0px;
	margin-bottom: -3px;
}

#tutorial-content {
	display: inline-block;
	vertical-align: middle;
	font-size: 0.9em;

}

canvas{
	border: 1px solid black; 
	position: absolute;	
	cursor: pointer;	
}

#board-container{	
	position: fixed;	
	top: 50%;
	left: 50%;
	-webkit-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);

}

#board{	 
	z-index: 1;	
}

#state{	
	z-index: 2;	
}

#myMusic{
	position: fixed;
	width: 20%;
	top: 90%;
	left: 50%;
	-webkit-transform: translateX(-50%);  	
	transform: translateX(-50%);  	
}

.score-node {
    display: inline-block;
    width: 20%;
    padding: 1.5%;
    font-size: 30px;
    background: #DDDDDD;
    border-radius: 20px; 
    -moz-border-radius: 20px; 
    -webkit-border-radius: 20px;    
    text-align: center;	
}


#score-container{
	/*border: 1px solid black;*/
	position: fixed;
	width: 30%;
	height: 20%;	
	left: 50%;
	-webkit-transform: translateX(-50%);  	
	transform: translateX(-50%);
}

#score-black {
    color: black;
	background: #C7C7C7;
	position: absolute;
	top: 15%;
	left: 25%;
}

#score-white {
    color: white;
	position: absolute;
	top: 15%;
	left: 50%;
}

#reset_button {
	position: absolute;
	top: 60%;
	left: 50%;
	-webkit-transform: translateX(-50%);  	
	transform: translateX(-50%);
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:5px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
#reset_button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}

#control-container{
	position: fixed;
	width: 100%;
	text-align: center;
	top: 83%;
}


#mute_button {
	position: relative;
	top: 83%;
/*	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);*/
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:5px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
#mute_button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}

#tutorial_button {
	position: relative;
	top: 83%;
	/*left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);*/
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:5px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
#tutorial_button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}


.help-tip{
    position: absolute;
    top: 18%;
    left: 75%;
    text-align: center;
    background-color: #BCDBEA;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;

    /*-webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;*/

}

.help-tip p{	/* The tooltip */
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
}

.help-tip p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    right:10px;
    top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

button.flag {    
    border-width: 2px;
    border-color: #282828 #282828 hsl(0, 0%, 11%);
    border-radius: 3px;    
    background-size: contain;
	cursor:pointer;
    width:8%;
    height:17%;
	position: fixed;
}

#swedishFlag {
    background-image: url("../img/swedish_flag.jpg"); 	
    left: 81%;
    bottom: 5%;	
}

#britishFlag {
    background-image: url("../img/union_jack.png");	
    left: 90%; 
    bottom: 5%;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% { 
        opacity:0; 
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}


#overlay {
  position: absolute;
  opacity: 0;
  top: 0;
  bottom: 0;
  background: #999;
  width: 100%;
  height: 100%;
  z-index: -1;
  visibility: hidden;
  transition: all 1s ease;
}

#popcontain {
	position: relative;
}

#popup {
	position: fixed;
	background:rgba(0, 0, 0, 0.56);
	width: 40%;
	min-width: 250px;
	top: 50%;
	height: 28%;
	min-height: 170px;
	left: 50%;
	border-radius: 5px;
	z-index: -1;
	visibility: hidden;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

#popup-close {
  float: right;
  padding: 10px;
  cursor: pointer;
  color:white;
}

.popup-content {
	padding: 10px;
	text-shadow: 1px 1px #000;
	text-align: center;
	color: white;
}

#tutorial-button {
  cursor: pointer;
}

#tutorial-control {
	text-align: center;
}

#tutorial-next {
	display: inline-block;
  position: absolute;
  bottom: 5%;
  right: 5%;
		
}
#tutorial-prev {
	display: inline-block;
	position: absolute;
	bottom: 5%;
	left: 5%
}



#popup[data-pop="slide-down"] {
  top: -50%;
  transition: all .5s ease-in-out;
}

#popup[data-pop="slide-down"].show {
  visibility: visible;
  z-index: 200;
  opacity: 1;
  top: 36%; /*placement of popup */
}

#popup[data-pop="slide-down"].show ~ #overlay {
  opacity: 1;
  visibility: visible;
  z-index: 100;
}